*{
    padding: 0;
    margin: 0;
}

footer{
    background: #4B0082;
    color: #fff;
    padding: 15px 0;
    clear: both;
    width: 100%;
    bottom:0;
    position: absolute;
}

footer h4{
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* altura do seu footer */
}

#btnCadastrar {
    background: #4B0082;
    color: #fff;
}

#btnCadastrar:hover {
    background: #8A2BE2;
}

.conteudo-left{
    /*Novamente definimos a largura da div*/
    width:50%;
    padding: 20px 70px;
    /* altura da div */
    /*height:300px;
    /* O atributo Float é utilizado para fazermos o nosso bloco(div) literalmente flutue e se posicione onde queremos na página, quando escolhemos left, dizemos que esse bloco irá se posicionar na parte esquerda da página */
    float:left;
}

.conteudo-right{
    /*Novamente definimos a largura da div*/
    /*width:50%;
    /* altura da div */
    /*height:450px;
    padding: 20px 70px;
    /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco em que queremos posicionar na direita, mas como sabemos, o CSS é um estilo em cascata, nossa div conteúdo definimos a largura de 1000px e na conteudo-left 500px, 
automaticamente ao definirmos o conteudo-right com 500px e à esquerda também, ele ficou à direita do conteudo-left, pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
    float:left;
}

#map {
    height: 100%;
    padding: 200px 50px;
}
